@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 20rem;
  background-color: #ffffff;
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
